{% extends 'base.html.twig' %}

{% block title %}{{ author.firstname }} {{ author.lastname }}{% endblock %}

{% block blockh1 %}

    <h1>AUTEUR</h1>

{% endblock %}

{% block body %}

<div class="container-forum">

    <div class="forum">

        <h2>Auteur / {{ author.firstname }} {{ author.lastname }}</h2>

        <div class="header-forum">
        
        </div>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mt-3">
            {% for post in posts %}
                {% include '_partials/topic/card.html.twig' with { post: post } only %}
            {% endfor %}
        </div>
        
        <div class="footer-forum">
        </div>

    </div>

</div>
{% endblock %}