{% extends 'base.html.twig' %}

{% block title %}{{ category.title }}{% endblock %}

{% block blockh1 %}

    <h1>CATÉGORIES</h1>

{% endblock %}

{% block body %}

<div class="container-forum">

    <div class="forum">

        <h2>Catégorie / {{ category.title }}</h2>

         <div class="header-forum">
        
        </div>

        <div class="">

            {% for post in posts %}
                {% include '_partials/topic/card.html.twig' with { post: post } only %}
            {% endfor %}

        </div>

        <div class="footer-forum">
            <a href="{{ path('topic-main') }}" class="bouton-voir-articles">Voir tous les articles</a>
        </div>

    </div>
    
</div>
    

{% endblock %}