{% extends 'base.html.twig' %}

{% block title %}Nos catégories{% endblock %}

{% block body %}

<div class="container-forum">

    <div class="forum">

        <h2>Catégories</h2>

        <div class="category-grille">
            {% for category in categories %}
                {% include '_partials/category/card.html.twig' with { category: category } only %}
            {% endfor %}
        </div>

    </div>
    
</div>
    
{% endblock %}
