<div class="category-card">

    <div>

        <h4 class="title-h4-forum">{{ category.title }}</h4>
        
        <div class="d-flex justify-content-between align-items-center">
            <div class="button-voir-les-articles">
                <a href="{{ path('category-bySlug', {slug: category.slug}) }}">Voir les articles</a>
            </div>
        </div>

    </div>

</div>

