<div class="category-card">

    <div>

        <h4 class="title-h4-forum">{{ category.title }}</h4>
        
        <div class="container-buttons-category">
            <div class="button-voir-les-articles">
                <a href="{{ path('category-bySlug', {slug: category.slug}) }}">Voir les Tickets</a>
            </div>

            {% if is_granted('ROLE_ADMINISTRATOR') %}

             <div class="button-edit-category">
                <a href="{{ path('category-edit-bySlug', {slug: category.slug}) }}"> <i class="fa-solid fa-pen-to-square"></i></a>
            </div>

            {% endif %}
        </div>

    </div>

</div>

