{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block blockh1 %}

    <h1>ADMINISTRATION</h1>

{% endblock %}

{% block body %}

<div class="container-forum">

    <div class="forum">

        <h2>Utilisateurs</h2>

            <div class="">
                    {% for user in users %}
                        {% include '_partials/admin/card.html.twig' with { user: user } only %}
                    {% endfor %}
            </div>

    </div>

</div>

{% endblock %}
