{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}

        <h2>Utilisateurs</h2>
       <h4 class="title-h4-forum">{{ user.firstname }}</h4>

{% endblock %}