.category-grille{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-column-gap: 20px;
   grid-row-gap: 20px;
}

.category-card{
    border: 1px solid #9191919f;
    border-radius: 10px;
    /* padding-left: 15px; */
    padding: 10px 20px 10px 20px;
    /* margin: 2em; */
}

.button-voir-les-articles{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #FF5A5F;
    border: none;
    width: 8em;
    height: 2em;
}

.button-voir-les-articles a{
    color: #ffffff;
    text-decoration: none;

}

.container-buttons-category{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.button-edit-category{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #a0a0a0;
    border: none;
    width: 3em;
    height: 2em;
}

.fa-pen-to-square{
    color: #ffffff;
}

@media screen and (max-width : 900px) {
   
    .category-grille{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}