.container-forum{
    display: flex;
    justify-content: center;
}

.header-forum{
    height: 4em;
    background-color: #457B9D;
    border-radius: 10px 10px 0 0;
}

.footer-forum{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4em;
    background-color: #457B9D;
    border-radius: 0 0 10px 10px;
}

.block-forum{
    height: 6em;

    /* border: 1px solid rgb(145, 145, 145); */
    border-bottom: 1px solid rgb(145, 145, 145);
    border-left: 1px solid rgb(145, 145, 145);
    border-right: 1px solid rgb(145, 145, 145);
    display: flex;
    flex-direction:row;
}

.forum{
    width: 80%;
}

.forum-title{
    padding-top: 20px;
    width: 25%;
    padding-left: 10px;
    gap:2px;
    display: flex;
    flex-direction:column;
}

.forum-desc{
    width: 60%;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: center;
}

.forum-date{
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap: 8px;
}

.bouton-voir-articles{
    color: #ffffff;
}

.button-voir{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #FF5A5F;
    border: none;
    width: 4em;
    height: 2em;
}

.button-voir a{
    color: #ffffff;
    text-decoration: none;
}

.title-h4-forum{
    margin-bottom: 12px;
    margin-top: 0%;
}